body {
    font-family: sans-serif;
}

a:visited {
    color: blue;
}

.route {
    border: 1px solid blue;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
}

.method-path {
    margin-bottom: 10px;
}

.method {
    display: inline;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

.path {
    padding-left: 0.5em;
    display: inline;
    font-weight: bold;
    font-size: 18pt;
}

.doc {
    font-size: 15pt;
    margin-bottom: 5px;
}

.schema-code {
    font-family: monospace;
    padding: 10px;
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
    border: 2px solid white;
}

tr:hover {
    background-color: #fee;
}

.required-key {
    font-weight: bold;
}

.optional-key {
    color: #888;
}
